{%extends 'base.html'%}
{% load staticfiles %}

{%block content%}
    

<center>
    <img class="image1" src="{% static 'free.png'%}" style="width: 100%; height: auto;" alt="사진">
</center>


<main role="main">

    {% if user.is_authenticated %}
          <div class="col-lg-8 mx-auto text-center mt-3">
                    <div class="site-heading">
                        <a href="{%url 'publicity_new' %}" class="btn btn-outline-dark">게시글 작성하기</a>
                        <span class="subheading"></span>
                    </div>
                </div>
                {%else%}
                <div class="col-lg-8 mx-auto text-center mt-3">

                        <div class="site-heading">
                        <a href="{%url 'login' %}" class="btn btn-outline-dark">로그인</a>
                        <span class="subheading"></span>
                        </div>
                    </div>
                </div>
                {% endif %}

    
  </main>
        <div class="container">
            <div class="row">
            {% for publicity in publicity.all%} 
                <div class="col-xs-6 col-lg-4 mx-auto text-center mt-3">
                    <div class="card h-card">
                        <div class="h-img-wrapper">
                            <img class="card-img-top h-img" src="/media/{{publicity.image}}"  alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> 제목 : {{publicity.title}} </h5>
                            <p class="card-text">
                                <p> 날짜 : {{publicity.pub_date}} </p> 
                                <p> {{publicity.summary}} </p> 
                                <br>
                            </p>
                            <a href="{% url 'publicity_detail' publicity.id %}" class="btn btn-outline-dark">자세히</a>
                        </div>
                    </div>
                    <div style="margin: 40px;"></div>
                </div>
            {%endfor%}
            </div>
            <div style="padding:10px;"> </div>
        </div>
    </body> 

{%endblock%}