{% extends 'base.html' %}

{% block content %}


{% load staticfiles %}

<header class="masthead" style="background-image: url('intro.png')">
    <center>
      <img class="image1" src="{% static 'intro.png'%}" style="width: 100%; height: auto;" alt="사진">
    </center>
    </header>
    <center>
      <section class="h-main">
      <a href="line_up">
      <img class="h-main-img" src="{% static 'lineup.png'%}" style="width: 100%; height: auto;" alt="사진">
      </a>
      </section>
      <section class="h-main">
      <a href="{% url 'lostfound_main'%}">
      <img class="h-main-img" src="{% static 'lost.png'%}" style="width: 100%; height: auto;" alt="사진">
      </a>
      </section>
      <section class="h-main">
      <a href="flea_main">
      <img class="h-main-img" src="{% static 'fleemarket.png'%}" style="width: 100%; height: auto;" alt="사진">
      </a>
      </section>
      <section class="h-main">
      <a href="{% url 'publicity_main'%}">
      <img class="h-main-img" src="{% static 'free.png'%}" style="width: 100%; height: auto;" alt="사진">
      </a>
      </section>
      <section class="bg-dark">
      <img class="h-main-img" src="{% static 'tips.png'%}" style="width: 100%; height: auto;" alt="사진">
  
      </section>
    </center>
{%endblock%}