{% extends 'base.html' %}

{% block content %}


{% load staticfiles %}

<div class="container">

<h1>메인페이지 입니다.</h1>
<a href="{% url 'login' %}">Login</a> 

<a href="{% url 'logout' %}">Logout</a> 
<section class="bg-dark" id="about">
        <div class="container my-auto">
          <div class="row">
            <a href="{% url 'line_up' %}">
            <img src="{% static 'heu.jpg'%}" alt="">
            </a>
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">We've got what you need!</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4">시작은 Bootstrap 끝은 내가만든 CSS</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
          </div>
        </div>
      </section>

</div>
{%endblock%}