{%extends 'base.html'%}

{%block content%}

{%load staticfiles%}

<header class="masthead" style="background-image: url('img/home-bg.jpg')">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>메인페이지입니다. 홍익와우페스티벌</h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
</header>

<html>

<head>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto text-center">
                <div class="site-heading">
                    <h1>분실물 메인페이지 입니다.</h1>
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
   </head>

<body>
    {% if user.is_authenticated %}
            <div class="col-lg-8 mx-auto text-center">
                    <div class="site-heading">
                        <br><br> <a class="newbtn" href="{% url 'lostfound_new' %}">게시글 작성하기<br><br> </a>
                        <span class="subheading"></span>
                    </div>
                </div>
                {%else%}
                <div class="col-lg-8 mx-auto text-center">
                        <div class="site-heading">
                            <br><br> <a class="newbtn" href="{%url 'login'%}">로그인하기<br><br> </a>
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
                {% endif %}

    <div class="container">
        <div class="row">
            
            {% for lostfound in posts%} 

            <div class="col-xs-6 col-lg-4 mx-auto text-center">
                <div class="card h-card">
                    <div class="h-img-wrapper">
                        <img class="card-img-top h-img" src="/media/{{lostfound.image}}"  alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"> 제목 : {{lostfound.title}} </h5>
                        <p class="card-text">
                            <p> 날짜 : {{lostfound.pub_date}} </p> 
                            <p> 본문 미리보기 : {{lostfound.summary}} </p> 
                            <br>
                        </p>
                        <a href="{% url 'lostfound_detail' lostfound.id %}" class="btn btn-outline-dark">자세히</a>
                    </div>
                </div>
                <div style="margin: 40px;"></div>
            </div>
            
{%endfor%}
        </div>
        <div style="padding:10px;"> </div>
    </div>
    <div class = "container"> {#first previous#} {% if posts.has_previous %} <a href="?page=1">First</a> <a href="?page={{posts.previous_page_number}}">Previous</a> {% endif %} {# 3of4 #} <span>{{posts.number}}</span> <span>of</span> <span>{{posts.paginator.num_pages}}</span> {# Next Last #} {% if posts.has_next %} <a href="?page={{posts.next_page_number}}">Next</a> <a href="?page={{posts.paginator.num_pages}}">Last</a> {%endif%} </div>

   
{%endblock%}
</body>
</html>